/server/public/javascript/*
wdio.conf.js
webpack.config.js
/server/config
**/*.spec.js
**/*.e2e.js
/postcss.config.js
jest.config.js
file-mock.js
style-mock.js
webpack.common.js
webpack.dev.js
webpack.prod.js
.env
buildspec.yml